
<div class="contact_form">
<div class="contact_header">Contact Me</div>
<div class="contact_intro">
Do you:</br>
<ul>
    <li>Have ideas to improve Flights140</li>
    <li>Like using Flights140</li>
    <li>Find great flight deals and want to say thanks (you can also say thanks by <a href="https://cash.me/$zattas">buying me a cup of coffee</a>)</li>
    <li>Receive incorrect tweets, or multiple tweets</li>
    <li>Notice a place is missing from the place list</li>
    <li>Notice a spelling error or a missing accent</li>
    <li>Notice the website unexpectedly crashes</li>
    <li>Have design tips</li>
</ul>

<p class="text-center">
Then contact me using this form!</p>
</div>
<form class="contact_form_box" id="contact_form_submit" method="post">
    <textarea maxlength="5000"></textarea>
</form>
<div class="text-center submit_buttons_margin">
<input type="submit" id="contact_form_submit_button" value="Submit" class="ui clear button text-center" onclick="$('#contact_form_submit').submit();" />
<button class="ui clear button" onclick="removeAvgrund();">Cancel</button>
</div>
</div>
