
<div class="contact_form">
<div class="text-center contact_header">Disclaimer</div>
</br>
Flights40 provides flights140.com and flights140.herokuapp.com  as a free service to the public.
</br></br>
Flights140 and any persons operating this website under this name is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this Website is correct, complete, and up-to-date.
</br></br>
Although the Flights140 Website may include links providing direct access to other Internet resources, including Websites, Flights140 is not responsible for the accuracy or content of information contained in these sites.
</br></br>
Links from Flights140 to third-party sites do not constitute an endorsement by Flights140 of the parties or their products and services. The appearance on the Website of advertisements and product or service information does not constitute an endorsement by Flights140, and Flights140 has not investigated the claims made by any advertiser.
</div>
</br>
<div class="text-center">
<button class="ui clear button text-center" onclick="removeAvgrund();">Back</button>
</div>
