<div class="donate_text">
Flights140 is free to use, but there are costs to maintaining it.  Here are some of the costs:
</br></br>
<ul>
    <li>Keeping the domain name</li>
    <li><a href="https://www.heroku.com" style="cursor:pointer;">Heroku</a> server uptime</li>
    <li><a href="https://www.twilio.com/" style="cursor:pointer;">Twilio</a> for notifying you via text</li>
    <li><a href="https://www.sendgrid.com/" style="cursor:pointer;">Sendgrid</a> for notifying you via email</li>
    <li>Time spent creating and maintaining the website</li>
</ul>
</br>
Donations are greatly appreciated.  Recommended donation is $3, the cost of a cup of coffee.  If you have found a deal using Flights140, donating would be a great way of saying thank you!
</br></br>
<div class="submit_buttons_margin text-center">
<a href="https://cash.me/$zattas" class="text-center">
<button class="ui clear button text-center">Donate</button>
</a>
</div>
</div>
