<div class="contact_form">
Flights140 tracks <a style="cursor:pointer;" onclick="removeAvgrund();$('.twitter_accounts_base').click();">these Twitter accounts</a> for airfare deals, error fares, and flash fares so you will be instantaneously alerted when the flight deals you care about are tweeted!
An email and/or text will be sent to you when your alert matches a tweet.
</br></br>
User Guidelines and Helpful Tips:
<ul>
    <li>User can create a max of 10 alerts.</li>
    <li>Alerts are active from the moment they are created—the alerts do not pull from past tweets.</li>
    <li>Origins are mandatory, but destinations are optional; this way you can add an alert to watch flights from Chicago to anywhere in the world.</li>
    <li>Your search terms entered for origins or destinations can be as specific as general as you want.  For example, it is possible to look for flights from Europe to North America, which will pull tweets with flights from Spain to Cincinnati and flights from Paris to Mexico.</li>
    <li>Flight140's choices of origins and destinations are selected from the top 500 places in the <a href="https://github.com/opentraveldata/opentraveldata/tree/master/opentraveldata" style="cursor:pointer;">airport popularity list maintained by OpenTravelData</a>.</li>
    <li>The algorithm searches Twitter using keywords and regex.  For example, if you enter New York City, you will receive results from tweets containing NYC, n.y., JFK, Manhattan, etc.</li>
</ul>
Questions? <a onclick="removeAvgrund();$('.contact').click();" style="cursor:pointer;">Contact me</a>
</br></br>
<div class="submit_buttons_margin text-center">
    <button class="ui clear button text-center" onclick="removeAvgrund();">Back</button>
    <button class="ui clear button text-center" onclick="removeAvgrund();$('.privacy_policy').click();">Privacy Policy</button>
</div>
</div>
