<div class="contact_form">
Flights140 watches <a style="cursor:pointer;" onclick="removeAvgrund();$('.twitter_accounts_base').click();">these twitter accounts</a> for flight deals, error fares, and flash fares so you'll know when places you care about are mentioned, at that instant!
</br></br>
An email and/or text will be sent when an alert entered matches a tweet.
</br></br>
Rules:
<ul>
    <li>User can create a max of 10 alerts</li>
    <li>Alerts are active from the moment they are created, and do not return past tweets</li>
    <li>Origins are mandatory, but destinations are optional.  So you can add an alert to watch flights from Chicago to anywhere by not entering a destination</li>
    <li>You can be as general as you want, meaning it's possible to look for flights from Europe to North America.  This includes the more specific places within, so Europe to North America will return flights from Spain to Cincinnati or Paris to Mexico</li>
    <li>Origins and destinations are selected from the top 500 places in the <a href="https://github.com/opentraveldata/opentraveldata/tree/master/opentraveldata" style="cursor:pointer;">airport popularity list maintained by OpenTravelData</a></li>
    <li>The algorithm searches twitter using keywords and regex.  For example, if you enter New York City, tweets containing NYC, n.y., JFK, Manhattan, etc. will be returned</li>
</ul>
</br>
Questions? <a onclick="removeAvgrund();$('.contact').click();" style="cursor:pointer;">Contact me</a>
</br></br>
<div class="submit_buttons_margin text-center">
    <button class="ui clear button text-center" onclick="removeAvgrund();">Back</button>
</div>
</div>
