<p>Flights140 tracks Twitter for airfare deals, error fares, and flash flares using a special algorithm so you will be instaneously alerted when the flight deals you care about are tweeted!</p>
</br>How it works:
<ol>
    <li>Enter origins and/or destinations.</li>
    <li>Receive an alert (via email and/or text) when there is a tweet containing your  criteria!</li>
    <li>Buy your tickets (before someone else does) and travel for cheap!</li>
</ol>
<br>
<p>This site is designed to find you  deals for those far-off destinations where you would only travel to if you found the perfect deal!</p>
</br>
<p>Check out <a href='https://twitter.com/Flights140_/lists/flightaccounts'>this twitter feed</a> for a sample of the types of deals that can be found on Twitter.</p>
